:root {
    --dark-bg-color: #2B4A6F;
    --dark-ribbon-color: #143153;
    --dark-border-color: #051C38;
    --alt-bg-color: #801515;
    --alt-border-color: #550000;
    --text-color: #DDD;
}

html, body {
    background-color: var(--dark-bg-color);
}

.bg-dark {
    background-color: var(--dark-ribbon-color) !important;
}

nav {
    border-bottom: 2px solid var(--dark-border-color);
}

nav img {
    max-height: 70px;
}

h1, h2 {
    margin: 3%;
    color: var(--text-color);
}

#image-carousel img {
    border-radius: 30px;
}

#image-carousel {
    margin: 2%;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.5);
}

.personal-pics {
    border-radius: 30px;
    max-width: 85%;
    max-height: 85%;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.5);
}

.text-box {
    display: flex;
    margin: 6% 3%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--alt-border-color);
    background-color: var(--alt-bg-color);
    color: var(--text-color);
    font-size: 1.5em;
    text-align: center;
}

/*
.center {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    background-color: white;

    border: 3px solid green;
}*/
.btn {
    border: 1px solid var(--alt-border-color);
    background-color: var(--alt-bg-color);
    color: var(--text-color);
}

.btn:hover {
    border: 1px solid var(--alt-bg-color);
    background-color: var(--alt-border-color);
    color: var(--text-color);
}

.fa {
    color: var(--alt-bg-color);
}

.fa:hover {
    color: var(--alt-border-color);
}

footer {
    color: var(--text-color);
}

hr {
    background-color: var(--text-color);
    max-width: 80%;
}

footer img {
    max-width: 30%;
}