:root {
    --dark-bg-color: #2B4A6F;
    --dark-ribbon-color: #143153;
    --dark-text-color: #1F1F1F;
    --dark-border-color: #550400;
    --light-bg-color: lightgrey;
    --light-text-color: #DDD;
    --light-border-color: lightgrey;
}

html, body {
    background-color: var(--dark-bg-color);
}

.bg-dark {
    background-color: var(--dark-ribbon-color) !important;
}

nav img {
    max-height: 75px;
}

#productCarousel img {
    border-radius: 30px;
}

#productCarousel {
    margin: 2%;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 8px rgba(0, 0, 0, 0.5);
}

footer {
    color: var(--light-light-color);
}

hr {
    background-color: var(--light-text-color);
    ;
    max-width: 80%;
}

footer img {
    max-width: 50%;
}